# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Xcode specific
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Workspace user data
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Derived data
DerivedData/
build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
/.build/
*.swiftpm
Package.resolved
